@{
  Layout="Shared/_Layout.cshtml";
}

<h1>Add a new object2</h1>
<form action="/object2s/new" method="post">
  <label for="object2-description">Object2 description:</label>
  <input id="object2-description" name="object2-description" type="text">
  <button type="submit">Add new object2</button>
</form>
<p><a href="/">Back home</a></p>
<p><a href="/object2s">View all object2s</a></p>
