@{
  Layout="Shared/_Layout.cshtml";
}

<h1>To Do List</h1>
<hr />
<h2>Object2s:</h2>
@if (Model.Count != 0)
{
  <ul>
    @foreach (var object2 in Model)
    {
      <li><a href='/object2s/@object2.GetId()'>@object2.GetName()</a></li>
    }
  </ul>
}
<h4><a href="/object2s/new">Add new object2</a></h4>
<h4><a href="/">Return home</a></h4>
