<head>
  <link rel="stylesheet" href="../../Content/css/bootstrap.css" type="text/css">
  <link rel="stylesheet" href="../../Content/css/styles.css" type="text/css">
</head>

<div class="container">
  <h1>Success</h1>
  <p><a href="/">Return to Main Page</a></p>
</div>
